asgiref
attrs
autobahn
Automat
boto3
botocore
certifi
cffi
channels
charset-normalizer
colorama
constantly
cryptography
daphne
Django
django-background-tasks
django-compat
django-storages
djangorestframework
ffmpeg
filelock
hyperlink
idna==3.4
incremental
Jinja2
jmespath
llvmlite
MarkupSafe
more-itertools
mpmath
networkx
numba
numpy==1.25.0
openai-whisper
pyasn1
pyasn1-modules
pycparser
pyOpenSSL
python-dateutil
python-decouple
pytz
regex
requests
s3transfer
semantic-version
service-identity
setuptools-rust
six
sqlparse
sympy
tiktoken
torch
tqdm
Twisted
twisted-iocpsupport
txaio
typing_extensions
tzdata
urllib3
zope.interface
