asgiref
certifi
charset-normalizer
colorama
Django
djangorestframework
filelock
idna
Jinja2
llvmlite
MarkupSafe
more-itertools
mpmath
networkx
numba
numpy
openai-whisper
python-decouple
pytz==2023.3.post1
regex
requests
sqlparse
sympy
tiktoken
torch==2.0.1
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.5
