asgiref
certifi
charset-normalizer
colorama
Django
djangorestframework
ffmpeg-python
filelock
future
idna
Jinja2
llvmlite
MarkupSafe
more-itertools
mpmath
networkx
numba
numpy
openai-whisper
python-decouple
pytz
regex
requests
semantic-version
setuptools-rust
sqlparse
sympy
tiktoken
torch
tqdm
typing_extensions
tzdata
urllib3
